Source: casper
Section: misc
Priority: optional
Maintainer: Matt Zimmerman <mdz@ubuntu.com>
Build-Depends: debhelper (>> 4.2.0)
Standards-Version: 3.6.1

Package: casper
Architecture: all
Section: misc
Priority: extra
Depends: initramfs-tools, dmsetup
Description: Run a "live" preinstalled system from read-only media
