# casper-stop, sometimes, does lazy unmount of /cdrom, and systemd
# doesn't like active, yet masked units. Instead of /dev/null'ing
# cdrom.mount let's define the behaviour we want.

# On boot, systemd complains that cdrom.mount exists, yet is bound to
# dev-sr0.device which udev didn't yet "plug". This trips up systemd
# to go into verbose mode with messages. All of which is a lie, given
# that initrd mounted /cdrom, which later after udev-coldplug systemd
# "catches up" with. Declate DefaultDependencies=no to prevent this
# nonesense (i.e. implicit cdrom.mount BindsTo=$What.device)

# Also, we lie about What=, as it could be anything, but systemd
# demands we specify something. Thankfully systemd will not try
# mounting /dev/sr0 on top of otherwise active cdrom.mount.

# Because of DefaultDependenices=no readd stanzas to say that /cdrom
# should be unmounted on shutdown, but only after / is unmounted.

# Given that things might be mounted from on-top of /cdrom, specify
# LazyUnmount=yes.

# Note, due https://github.com/systemd/systemd/issues/8587 we specify
# a full cdrom.mount unit, rather than a .d drop-in, as /cdrom is not
# declared in fstab or via a unit

[Unit]
DefaultDependencies=no
After=casper.service
Before=-.mount
Before=umount.target
Conflicts=umount.target

[Mount]
Where=/cdrom
What=/dev/sr0
LazyUnmount=yes
